@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A
}

p, h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #edf0f1;
	text-decoration: none;
}

p {
	text-align: justify;
	margin-left: auto 100px auto 100px;
}

div.nav {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
	justify-content: space-between;
	border-bottom: 3px solid red;
	align-items: center;
	display: flex;
}

.logo {
	cursor: pointer;
	margin: 20px 0 20px 100px;
}

button {
	padding: 15px 20px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #edf0f1;
	margin: 20px 100px 20px 0;
}

button:hover {
	background-color: rgba(0,50,169,0.6);
}

/**/
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}