@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A
}


p{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;

	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;

}

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 1000;
	font-size: 40px;
	color: #edf0f1;
	text-decoration: none;
}

div.nav {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
	justify-content: space-between;
	border-bottom: 3px solid red;
	align-items: center;
	display: flex;
}

.logo {
	cursor: pointer;
	margin: 20px 0 20px 100px;
}

button {
	padding: 15px 20px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #edf0f1;
	margin: 20px 100px 20px 0;
}

button:hover {
	background-color: rgba(0,130,169,0.6);
}

/**/
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    line-height: 70px;
}
.menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }

	.iletisim {
		display: none;
	}
    
	p {
		margin-left: 5%;
		margin-right: 5%;
	}
    
}

/*#######################*/

.grid {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 0px;
	padding-right: 0px;
 }

.grid-item {
	text-align: center;
	display: inline-block;
	background-color: #24252A;
	border-radius: 10px;
	overflow: hidden;
	width: 240px;
	height: 320px;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 20px;
}

.grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
	display: block;
	width: 240px;
	height: 150px;
	object-fit: cover;
}

.card-content {
	padding: 5px;
}

.card-header {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 10px;
}

.card-text {
	font-size: 14px;
	font-weight: 200;
	color: #ffffff;
	margin: 0 5px 30px 5px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.card-btn {
	background-color: rgb(0, 169, 141);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 60px;
	height: 20px;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #ffffff;
	margin: 0 20px 0px 150px;
	padding: 10px 10px 25px 10px;
}

.card-btn:hover, .card-btn:active {
	background-color: rgba(0, 169, 141,0.7);
}


.new {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}




